.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background: black;
    height: 10vh;
    margin-top: 2rem;
    
    
    width: 100%;
    bottom: 0;
}