

.containerPokemon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    overflow: scroll;
    scrollbar-width: none;
    
    margin: 0 auto;
    gap: 1rem;
    max-width: 70%;
    max-height: 70vh;

}